.about-heading{
    text-align: center;
    margin-bottom: 30px;
}

.about-container{
    background-color: #eee;
    padding: 10px;
    overflow-y:scroll;
    height: 100vh; 
}

.about-wrapper{
    max-width: 980px;
    margin: 0 auto;
}


@media (max-width:967px){
    .about-wrapper{
        padding: 5px 8%;
    }
    .about-container{
        /* height: 110vh; */
        padding-bottom: 30px;
    }
}