.bot-chat-container {
  position: fixed;
  height: 120vh;
  width: 100%;
  top: 0;
  transform: translateY(100%);
  transition: transform 0.5s ease-in;
  z-index: 2;
  color: #7a7a7a;
  background: white;
  vertical-align: middle; }
  .bot-chat-container .bot-chat {
    margin-top: 200px; }
  @media (min-width: 600px) {
    .bot-chat-container {
      background: rgba(255, 255, 255, 0.9); } }

.spawn {
  animation: spawn-animation 0.5s ease-in-out;
  transform: none; }

.look-around {
  transition: opacity 0.3s;
  animation: floatup 0.3s; }

@keyframes floatup {
  0% {
    opacity: 0;
    transform: translateY(300%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.text-typed {
  transform: translateY(300%);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s; }

.animate-typed-entry {
  transform: translateY(0);
  opacity: 1; }

.title-style {
  transform: translateY(300%);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transition-delay: 0.5s, 0.5s;
  color: #d34355; }

.animate-init-entry {
  transform: translateY(0);
  opacity: 1; }

@keyframes spawn-animation {
  0% {
    transform: translateY(100%); }
  90% {
    transform: translateY(-5%); }
  100% {
    transform: translateY(0%); } }

@keyframes new-chat {
  0% {
    transform: translateY(0);
    opacity: 1; }
  49% {
    transform: translateY(-100%);
    opacity: 0; }
  50% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.reply {
  text-align: right; }

div#wave {
  margin-top: 20px;
  position: relative;
  text-align: center;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto; }
  div#wave .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
    background: #d12f89;
    animation: wave 1.3s linear infinite; }
    div#wave .dot:nth-child(2) {
      animation-delay: -1.1s; }
    div#wave .dot:nth-child(3) {
      animation-delay: -0.9s; }

.bot-start-rec,
.bot-start-rec:hover,
.bot-start-rec:active,
.bot-start-rec:focus {
  border-radius: 50%;
  overflow: hidden;
  font-size: 21px;
  border: none;
  outline: none !important; }

@keyframes wave {
  0%,
  60%,
  100% {
    transform: initial; }
  30% {
    transform: translateY(-15px); } }

.voice-section {
  margin-right: 10px; }

.listen-btn {
  border-radius: 50%;
  border: 2px solid #000;
  height: 30px; }

.text-input {
  position: absolute;
  display: flex;
  left: 50%;
  top: 70%;
  transform: translateX(-50%); }
  .text-input input {
    border: none; }
  @media (max-width: 700px) {
    .text-input {
      top: unset;
      bottom: calc(20% + 70px); } }

.text-area {
  width: 40%;
  margin: auto; }
  @media (max-width: 700px) {
    .text-area {
      width: 100%; } }
  @media (max-width: 1400px) {
    .text-area {
      width: 60%; } }
