.competition-container .titles-container {
  position: relative; }
  @media (max-width: 600px) {
    .competition-container .titles-container {
      min-height: calc(100vh - 60px); } }

.competition-container img {
  display: block;
  margin: 50px auto 60px auto;
  width: 200px; }
  @media (min-width: 600px) {
    .competition-container img {
      width: 250px; } }

.competition-container h2 {
  margin: 20px auto;
  text-align: center; }

.competition-container h3 {
  margin: 20px auto;
  text-align: center; }

.competition-container h4 {
  color: #333; }

.competition-container .button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  @media (min-width: 600px) {
    .competition-container .button-container {
      width: 50%;
      margin: auto; } }

@media (min-width: 600px) {
  .competition-container {
    margin-top: 100px; } }

ul li p {
  color: black; }

.reg_button {
  text-align: center;
  margin: 20px auto;
  display: block;
  border: none;
  background-color: white;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  font-size: 18px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.7);
  width: 150px;
  transition: box-shadow 0.1s; }
