.tab-container {
	width: 100%;
	border-radius: 20px;
	overflow: hidden;
	margin: 10px auto;
	position: relative;
}
.tab-container .tab {
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: gray;
	height: 100%;
	position: relative;
}
.tab-container p {
	margin: auto;
	padding: 5px 0;
	color: white;
	position: relative;
	z-index: 1;
}
#highlighter {
	background-color: wheat;
	position: absolute;
	width: calc(100% / 3);
	height: 100%;
	top: 0;
	border-radius: 20px;
}
