.tab-container-main {
	width: 100%;
	overflow: hidden;
	max-width: 980px;
	margin: auto;
}

.event-contact {
	display: flex;
	flex-wrap: wrap;

	li {
		width: 60%;
		& > h4 {
			text-align: left;
		}
	}
	@media (min-width: 600px) {
		li {
			width: auto;
		}
		justify-content: space-around;
	}
}
.tab-container {
	width: 90%;
	margin: 10px auto;
	position: relative;
	@media (min-width: 980px) {
		width: 100%;
	}
}
.tab-container .tab {
	width: 100%;
	display: flex;
	justify-content: space-around;
	overflow: hidden;
	border-radius: 20px;
	height: 100%;
	position: relative;
}
.tab-content ul {
	color: #5d6c6b;
}
.tab-content {
	& > img {
		margin: 10px auto !important;
		display: block;
		width: 300px !important;
		@media (max-width: 600px) {
			width: 150px !important;
		}
	}
}
.tab-container p {
	margin: auto;
	cursor: pointer;
	padding: 5px 0;
	color: white;
	text-align: center !important;
	position: relative;
	z-index: 1;
	@media (max-width: 600px) {
		font-size: 10px;
	}
	@media (min-width: 1000px) {
		font-size: 18px;
	}
}
#highlighter {
	cursor: pointer;
	position: absolute;
	height: 110%;
	top: -5%;
	will-change: transform;
	transition-timing-function: ease-in-out;
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.12), 0 0px 5px rgba(0, 0, 0, 0.24);
	border-radius: 20px;
}
#tab-content-container {
	position: relative;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	div.tab-content {
		width: 100%;
		display: inline-block;
		left: 0;
		top: 0;
		white-space: pre-wrap;
		overflow: auto;
		transition: transform 0.3s;
		vertical-align: top;
		overflow: hidden;
		p {
			text-align: justify;
		}
	}
	div.active-tab {
		transform: translateX(0);
	}
}

#tab-content-container {
	@media (min-width: 1000px) {
		.tab-content {
			& > * {
				margin: 20px auto;
			}
		}
		p {
			font-size: 18px;
		}
	}
}
