.tab-container-main {
  width: 100%;
  overflow: hidden;
  max-width: 980px;
  margin: auto;
  transition: transform 0.5s;
  transform: translateY(50%); }

ol,
ul {
  font-size: 18px; }
  @media (max-width: 700px) {
    ol,
    ul {
      font-size: 14px; } }

.event-contact {
  display: flex;
  flex-wrap: wrap; }
  .event-contact li {
    width: 60%; }
    .event-contact li > h4 {
      text-align: left; }
  @media (min-width: 600px) {
    .event-contact {
      justify-content: space-around; }
      .event-contact li {
        width: auto; } }

.tab-container {
  width: 90%;
  margin: 10px auto;
  position: relative;
  z-index: 99; }
  @media (min-width: 980px) {
    .tab-container {
      width: 100%; } }

.tab-container .tab {
  width: 100%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  border-radius: 20px;
  position: relative; }

.tab-content ul {
  color: #5d6c6b; }

.tab-content img {
  margin: 10px auto !important;
  display: block;
  width: 300px !important; }
  @media (max-width: 600px) {
    .tab-content img {
      width: 150px !important; } }

.tab-container p {
  margin: auto;
  cursor: pointer;
  padding: 5px 0;
  color: white;
  text-align: center !important;
  position: relative;
  z-index: 1; }
  @media (max-width: 600px) {
    .tab-container p {
      font-size: 10px; } }
  @media (min-width: 1000px) {
    .tab-container p {
      font-size: 18px; } }

#highlighter {
  cursor: pointer;
  position: absolute;
  height: 110%;
  top: -5%;
  will-change: transform;
  transition-timing-function: ease-in-out;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.12), 0 0px 5px rgba(0, 0, 0, 0.24);
  border-radius: 20px; }

#tab-content-container {
  position: relative;
  display: block;
  white-space: nowrap;
  overflow: hidden; }
  #tab-content-container div.tab-content {
    width: 100%;
    display: inline-block;
    left: 0;
    top: 0;
    white-space: pre-wrap;
    overflow: auto;
    transition: transform 0.3s;
    vertical-align: top;
    overflow: hidden;
    overflow-y: auto; }
    #tab-content-container div.tab-content p {
      text-align: justify; }
  #tab-content-container div.active-tab {
    transform: translateX(0); }

@media (min-width: 1000px) {
  #tab-content-container .tab-content > * {
    margin: 20px auto; }
  #tab-content-container p {
    font-size: 18px; } }
