.gallery-container {
	width: 100%;
	background-color: white;
	@media (min-width: 700px) {
		display: block;
		height: 100vh;
		overflow-y: hidden;
	}
	@media (min-width: 1000px) {
		display: flex;
	}
}

.gallery {
	@media (min-width: 700px) {
		display: flex;
		flex-wrap: wrap;
		margin: auto;
		position: relative;
		overflow-y: auto;
		max-height: 50%;
		margin: 10px;
	}
	@media (min-width: 1000px) {
		width: 40%;
		max-height: calc(100% - 20px);
	}
}

.viewport-container {
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	z-index: -1;
	@media (min-width: 700px) {
		position: relative;
		width: 100%;
		height: 50%;
		z-index: 1;
	}
	@media (min-width: 1000px) {
		position: relative;
		width: 60%;
		z-index: 1;
	}
}

.viewport {
	height: 100vh;
	padding: 60px;
	box-sizing: border-box;
	display: grid;
	@media (min-width: 700px) {
		height: 100%;
	}
	@media (min-width: 1000px) {
		height: auto;
		.viewport-description {
			margin-top: 30px;
			transition-duration: 0.3s, 0.3s;
			transition-delay: 0.1s, 0.1s;
		}
	}
}
.animate-entry {
	transform: translate(200px);
	opacity: 0;
}
.animate-exit {
	transform: translate(-200px);
	opacity: 0;
}
.viewport img {
	transform-origin: 0 0;
	will-change: transform;
	height: 300px;
	@media (min-width: 700px) {
		height: 100%;
	}
	@media (min-width: 1000px) {
		width: 100%;
		height: auto;
	}
}
.close-button {
	color: black;
	position: fixed;
	top: 0;
	right: 0;
	font-size: 40px;
	margin: 20px;
	z-index: 99;
	@media (min-width: 700px) {
		display: none;
	}
}

.portrait {
	height: 100%;
	margin: auto;
}

.landscape {
	width: 100%;
	margin: auto;
}
