.navbar-container {
	position: fixed;
	width: 100%;
	background: white;
	z-index: 109;
}

@media (min-width: 300px) {
	.nav-text {
		display: none;
	}
	.lonely-home {
		display: none;
	}
	.navbar-container {
		position: fixed;
		bottom: 0;
		height: 50px;
		box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
	}
	.navbar {
		height: 100%;
	}
	.icons {
		display: flex;
		height: 100%;
		justify-content: space-between;
	}
	.left,
	.right {
		display: flex;
		justify-content: space-around;
		width: 40%;
	}
	.left > *,
	.right > * {
		width: 100%;
		margin: auto;
		font-size: 20px;
		text-align: center;
	}
	.bot-spawn {
		width: 75px;
		cursor: pointer;
		border-radius: 50%;
		box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
		left: 50%;
		z-index: 99;
		top: 0;
		font-size: 20px;
		position: absolute;
		height: 75px;
		background-color: white;
		transform: translate(-50%, -20px);
		display: flex;
	}
	.bot-spawn > div {
		margin: auto;
		align-self: center;
		font-size: 30px;
	}
	.navbar {
		width: 100%;
	}
	.flap {
		position: fixed;
		top: 0;
		padding-top: 5px;
		background-color: white;
		width: 100%;
	}
	.flap img {
		width: 120px;
		position: absolute;
		top: 0px;
		margin-left: 10px;
	}
}
@media (min-width: 400px) {
	.left > *,
	.right > * {
		font-size: 22px;
	}
}

@media (min-width: 600px) {
	.flap {
		display: none;
	}
	.lonely-home {
		display: block;
	}
	.navbar-container {
		top: 0;
		left: -1px;
		width: 71px;
		height: 100%;
	}
	.navbar {
		position: relative;
		display: block;
		max-width: 980px;
		margin: auto;
	}
	.icons {
		/*to be changed*/
		background: white;
		display: block;
		width: 100%;
	}
	.left,
	.right {
		width: 100%;
		display: block;
		position: relative;
	}

	.left > div > .nav-text,
	.right > div > .nav-text {
		display: block;
	}
	.bot-spawn {
		position: fixed;
		left: unset;
		transform: none;
		margin: auto;
		height: 60px;
		width: 60px;
		top: unset;
		bottom: 25px;
		right: 25px;
	}
	.bot-spawn > div {
		font-size: 18px;
	}
	.left > *,
	.right > * {
		font-size: 25px;
	}
	.left > div,
	.right > div {
		position: relative;
		margin: 10px auto;
		padding: 15px 0px;
	}
	.left > div:hover .nav-text,
	.right > div:hover .nav-text {
		opacity: 1;
		transform: translate(0%, 0%);
	}
	.nav-text {
		position: absolute;
		z-index: -1;
		height: 100%;
		top: 0;
		background-color: rgba(255, 255, 255, 0.7);
		left: 100%;
		transform: translate(-100%, 0%);
		opacity: 0;
		color: black;
		will-change: transform;
		transition: transform 0.3s, opacity 0.3s;
		border-bottom-right-radius: 20px;
		border-top-right-radius: 2px;
	}
	.nav-text a {
		top: 25%;
		position: relative;
		padding-left: 10px;
		padding-right: 10px;
		transform: translate(0, -50%);
	}
}

.record {
	animation: mic-animation 2s ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes mic-animation {
	0% {
		box-shadow: 0 1px 10px rgba(255, 0, 0, 0.12),
			0 1px 5px rgba(255, 0, 0, 0.24);
	}
	50% {
		box-shadow: 0 1px 20px rgba(255, 0, 0, 0.5),
			0 1px 20px rgba(255, 0, 0, 0.24);
	}
	100% {
		box-shadow: 0 1px 10px rgba(255, 0, 0, 0.12),
			0 1px 5px rgba(255, 0, 0, 0.24);
	}
}

@media (max-width: 800px) and (min-width: 600px) {
	.nav-text {
		visibility: hidden;
	}
}
