.header-layer {
  width: 100%;
  top: 0; }
  .header-layer img {
    width: 100%;
    transform: translateY(2%); }

.header-cloud {
  width: 100%; }

.footer-layer {
  position: absolute;
  width: 100%;
  top: 0; }
  .footer-layer img {
    width: 100%; }
