.spotlight-card {
	width: 50%;
	padding: 20px;
	display: inline-block;
	height: 310px;
	vertical-align: top;
}

.spotlight-card-left {
	display: inline-block;
	text-align: center;
	width: 50%;
	vertical-align: middle;
	padding: 10px;
}

.spotlight-card-right {
	display: inline-block;
	text-align: right;
	width: 50%;
	vertical-align: middle;
	padding: 10px;
}

.spotlight-card-thumbnail {
	max-height: 250px;
	max-width: 70%;
}

.spotlight-card-title {
	display: block;
	font-weight: 900;
	font-size: 22px;
	margin-bottom: 20px;
}

.spotlight-card-overview {
	display: block;
	margin-bottom: 20px;
}

.spotlight-card-register {
	display: block;
	padding: 10px;
	text-align: center;
	border: solid 2px white;
	border-radius: 30px;
	color: white !important;
	font-weight: 600;
	width: 150px;
	margin: auto;
	cursor: pointer;
	transition-duration: 0.5s;
}

.spotlight-card-register:hover {
	background: white;
	color: black !important;
}

@media screen and (max-width: 1080px) {
	.spotlight-card {
		width: 100%;
	}
}

@media screen and (max-width: 650px) and (orientation: portrait) {
	.spotlight-card{
		height: auto;
	}
	.spotlight-card-left {
		width: 100%;
	}

	.spotlight-card-right {
		width: 100%;
	}
}
