.inline-container {
	margin-left: 70px;
}
.section {
	position: relative;
}
.header-image {
	position: absolute;
	top: 0;
	width: 100%;
}
.header-image img {
	width: 100%;
}
.parallax-trial {
	position: absolute;
	transition: transform 0.5s;
}

.parallax-layer-0 {
	transition: transform 1s;
	transform: translateY(100%);
	/*transition-delay: 0.5s;*/
}
.parallax-layer-1 {
	transform: translateY(100%);
	left: -20px;
	position: relative;
	transition: transform 0.8s;
	/*transition-delay: 0.s;*/
}
.parallax-layer-2 {
	width: 500px;
}
.next {
	transform: translateY(100%);
}
.active {
	transform: translateY(0%) !important;
}
.prev {
	transform: translateY(-100%);
}
.parallax {
	width: 500px;
}
#root {
	overflow: auto !important;
	overflow-x: hidden;
	height: 100%;
	overflow-y: auto !important;
	position: relative;
}
#fullpage {
	position: absolute !important;
	top: 0;
}
