/*container styles*/
.inline-container {
	margin-left: 70px;
}
.reg_button-index {
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	margin: 20px 10px;
	display: block;
	border: none;
	background-color: white;
	padding: 10px 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	font-size: 18px;
	border-radius: 5px;
	color: rgba(0, 0, 0, 0.7);
	width: 150px;
	transition: box-shadow 0.1s;
}
.section {
	position: relative;
	overflow: hidden;
	background: lightblue;
}
.header-image {
	position: absolute;
	top: 0;
	width: 100%;
}
#root {
	/*overflow: auto !important;*/
	overflow-x: hidden;
	height: 100%;
	overflow-y: auto !important;
}
#fullpage {
	position: absolute !important;
	opacity: 0;
	height: 0;
	width: 0;
	top: 0;
}

.excel-logo {
	position: absolute;
	right: 10px;
	top: 5px;
	z-index: 99;
}
.mec-logo {
	top: 5px;
	position: absolute;
	left: 10px;
	width: 170px;
}

/*element positioning*/
.cloud-header {
	position: absolute;
	top: 0;
}
.cloud-2 {
	position: absolute;
	bottom: -8%;
	width: 42%;
	right: 0;
}
.cloud-footer {
	position: absolute;
	bottom: -1%;
	width: 100%;
	left: 0;
	z-index: 3;
}
.cloud-3 {
	bottom: -1%;
	right: 0%;
	width: 77%;
	position: absolute;
}
.cloud-4 {
	bottom: -1%;
	left: 0%;
	width: 32%;
	position: absolute;
}
.blur-branch {
	left: 0%;
	z-index: 99;
	position: absolute;
}
.plane-layer {
	position: absolute;
	display: block;
	margin: auto;
	top: 30%;
	left: calc(50% - 185px);
	width: 90%;
	max-width: 370px;
	transform: rotate(0deg);
	transform-origin: 100% 50%;
	transition: transform 10s ease-in-out !important;
	/*animation: plane 1.5s ease-in-out infinite;*/
	/*transform: rotate(45deg) translate(-25%, -100%) scale(0.4);*/
	animation: plane 2s ease-in-out infinite, flyIn 1.4s ease-in-out 1;
}
.plane-layer.layer-2-prev {
	animation: flyOut 1.4s ease-in-out 1;
}
@keyframes plane {
	0% {
		transform: translateY(-10px);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(-10px);
	}
}
@keyframes flyIn {
	0% {
		transform: translate(100%, -100%) rotate(-90deg) scale(0.4);
		/*transform: rotate(45deg) translate(+25%, -25%) scale(0.4);*/
	}
	100% {
		transform: none;
	}
}

@keyframes flyOut {
	100% {
		transform: translate(-300%, -100%) rotate(+90deg) scale(1.4);
		/*transform: rotate(45deg) translate(+25%, -25%) scale(0.4);*/
	}
	0% {
		transform: none;
	}
}

@keyframes flyOutReverse {
	0% {
		transform: translate(-300%, -100%) rotate(+90deg) scale(1.4);
		/*transform: rotate(45deg) translate(+25%, -25%) scale(0.4);*/
	}
	100% {
		transform: none;
	}
}

.about {
	z-index: 1;
	position: relative;
	bottom: 20%;
	width: unset;
}
@media (max-width: 700px) {
	.about {
		bottom: 5%;
		line-height: 25px;
	}
}

.tree-upper {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.tree-mid {
	position: absolute;
	width: 100%;
	top: 0;
	height: 100%;
}
.lower-content {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 15px;
	margin-left: 15px;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	display: flex;
	justify-content: space-around;
	border-radius: 10px;
}
.lower-content .cover-content {
	background: #ca5177;
	color: white;
	padding: 10px;
	font-size: 25px;
}

.lower-content a {
	font-size: 20px;
}

.lower-content img {
	width: 100px;
}

.lower-content h3 {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.lower-content .links {
	padding: 10px 10px;
	background: #b97087;
	color: white;
}
.links div {
	width: 100%;
}
.owl-mid {
	width: 500px;
	position: absolute;
	top: 25%;
	background-image: url("/static/anim-assets/branch1.png");
	animation-name: owl-micro;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	height: 500px;
	background-repeat: no-repeat;
	background-size: contain;
	right: 0;
}
.tree-low {
	width: 100%;
	top: 0%;
	position: absolute;
}
.calender {
	top: 250px;
	width: 50%;
	animation-name: swing;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	left: 50%;
	animation-timing-function: ease-in-out;
	transform-origin: 50% 0;
	position: absolute;
}
.sec-3-container {
	max-width: 800px;
	padding: 20px;
	width: 100%;
	position: relative;
	z-index: 100;
	margin: auto;
	line-height: 54px;
	font-size: 25px;
	text-align: justify;
	color: rgb(256, 256, 256);
	color: rgba(256, 256, 256, 0.9);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.sec-3-container > h1 {
	font-weight: 900;
	color: rgb(256, 256, 256);
	color: rgba(256, 256, 256, 0.9);
}
.bottom-content {
	position: absolute;
	bottom: 0;
	width: auto;
	margin: auto;
	width: 100%;
}

/*loading screen*/
.loader {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: white;
	top: 0;
	left: 0;
	z-index: 999;
}
.loader img {
	left: 50%;
	width: 500px;
	position: absolute;
	top: 50%;
	opacity: 0.7;
	transform: translate(-50%, -50%);
}

@media (max-width: 700px) {
	.sec-3-container {
		line-height: 20px;
		font-size: 14px;
		position: relative;
		top: 20px;
	}
	.sec-3-first {
		width: 60%;
	}
	.sec-3-container > h1 {
		font-size: 20px;
		font-weight: 900;
	}
	.sec-3-none {
		display: none;
	}
	.about p {
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	}
	.loader img {
		width: 100%;
	}
}

@media (max-width: 1000px) and (min-width: 700px) {
	.sec-3-second {
		width: 68%;
	}
	.sec-3-container {
		line-height: 34px;
		font-size: 20px;
	}
}
@keyframes swing {
	0% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(-10deg);
	}
}
@keyframes owl-micro {
	0% {
		background-image: url("/static/anim-assets/branch1.png");
	}
	80% {
		background-image: url("/static/anim-assets/branch1.png");
	}
	100% {
		background-image: url("/static/anim-assets/branch2.png");
	}
}
@media (min-width: 300px) {
	#fullpage {
		margin-left: 0px;
	}
	.excel-logo {
		width: 80px;
	}
	.mec-logo {
		width: 100px;
	}
}
@media (max-width: 900px) {
	.plane-layer {
		width: 200px;
		left: 50%;
		margin-left: -100px;
	}
	.tree-mid {
		height: 100%;
		width: auto;
		transform: translate(-25%);
	}
	.tree-low {
		height: 100%;
		transform: translateX(-50%);
		width: auto;
	}
	.owl-mid {
		width: 300px;
		height: 300px;
		top: 0;
	}
	.owl-mid .calender {
		top: 150px;
	}
	.tree-upper {
		width: auto;
		transform: translateX(-50%);
		height: 100%;
	}
	.cloud-header {
		height: 130px;
		width: auto;
	}
	.blur-branch {
		bottom: 0;
		width: 150px;
	}
	.bottom-content {
		margin-bottom: 100px;
	}
	.reg_button-index {
		margin-bottom: 80px;
		width: 100px;
	}
}
@media (min-width: 600px) {
	#fullpage {
		margin-left: 70px;
	}
}
@media (min-width: 1000px) {
	.owl-mid {
		width: 500px;
		height: 500px;
	}
	.excel-logo {
		width: 150px;
	}
	.mec-logo {
		width: 150px;
	}
	.cloud-header {
		width: 100%;
		height: auto;
	}
	.blur-branch {
		width: 350px;
		top: 40%;
	}
	.about p {
		font-size: 17px;
	}
	.sec-3-first {
		width: 80%;
		font-size: 18px;
		line-height: 40px;
	}
}

/*parallax-styling*/
.layer-0,
.layer-1,
.layer-2 {
	transition: transform 1.2s;
}
.layer-blur {
	transition: transform 1s;
}
.layer-0-prev {
	transform: translateY(-50px);
}
.layer-1-prev {
	transform: translateY(-200px);
}
.layer-2-prev {
	transform: translateY(-300px);
}
.layer-blur-prev {
	transform: translateY(-1000px);
}

.layer-0-next {
	transform: translateY(50px);
}
.layer-1-next {
	transform: translateY(200px);
}
.layer-2-next {
	transform: translateY(300px);
}
.layer-blur-next {
	transform: translateY(1000px);
}

/*footer*/

.footer {
	bottom: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: unset;
	width: 100%;
	position: absolute;
}
.footer h2 {
	margin: auto;
	color: rgba(255, 255, 255, 0.7);
	font-weight: bolder;
}
.footer ul.legacy > a {
	padding: 20px;
	display: inline-block;
	width: 13px;
	height: 13px;
	border: 3px solid rgba(236, 160, 59, 0.5);
	border-radius: 50%;
	background-color: white;
	margin: 20px;
	transition: border 0.3s;
	cursor: pointer;
}
.footer ul.legacy > a:hover {
	border-color: rgba(236, 160, 59, 1);
}
.parts {
	margin: auto;
	text-align: center;
	width: 100%;
}

.copyrt {
	font-size: 14px;
	position: fixed;
	bottom: 5px;
	left: 50%;
	color: rgba(206, 164, 108, 0.9);
	transform: translateX(-50%);
	font-family: "Josefin Slab", serif;
}

.copyrt span {
	/*display: inline-block;*/
	font-size: 25px;
	/*line-height: 1;*/
	position: relative;
	top: 6px;
	font-weight: 400;
}

.label {
	color: rgba(206, 164, 108, 0.7);
	margin-bottom: 0;
}

.footer ul.legacy i {
	line-height: 13px;
	transform: translateX(-50%);
	position: relative;
	left: 50%;
}

.footer ul.social a {
	border: none;
	background: none;
	padding: 2px;
	padding-bottom: 30px;
}

.footer ul.social i {
	font-size: 1.5em;
}

.footer ul.social {
	margin-bottom: 1px;
}
ul.legacy {
	padding: 0;
	margin: auto;
}

ul.legacy li {
	display: inline-block;
	margin: 20px;
}

ul.legacy li img {
	border: 3px solid rgba(236, 160, 59, 0.5);
	border-radius: 50%;
	cursor: pointer;
	padding: 0;
	transition: border-color 0.3s;
}

ul.legacy li img:hover {
	border-color: rgba(236, 160, 59, 1);
}

ul.legacy li img {
	height: 50px;
	padding: 0;
	margin: 0;
}
ul.legacy li:hover .tooltip {
	visibility: visible;
	color: rgba(0, 0, 0, 1);
}
ul.legacy li .tooltip {
	position: absolute;
	font-weight: lighter;
	text-align: center;
	font-size: 12px;
	visibility: hidden;
	color: rgba(255, 255, 255, 0);
	transition: all 0.3s;
	width: 60px;
}
ul.legacy li:hover .tooltip {
	visibility: visible;
	color: rgba(0, 0, 0, 1);
}

/*moving clouds*/
.cloud-slide {
	position: absolute;
	animation: move 100s linear infinite;
	z-index: 0;
}

@keyframes move {
	0% {
		transform: translateX(0vw);
	}
	100% {
		transform: translateX(100vw);
	}
}

.contacts-us {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 20px;
	margin-left: 20px;
	display: flex;
	justify-content: space-around;
}
.contacts-us div {
	opacity: 0;
	transition: opacity 0.3s, background 0.3s;
	border-radius: 10px;
}
.contacts-us div h3 {
	transition: transform 0.3s, background 0.3s, opacity 0.3s;
	transform: translate(-30px, -50%);
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.contacts-us:hover div {
	opacity: 1;
}
.contacts-us:hover div h3 {
	background: rgba(255, 255, 255, 0.6);
	opacity: 1;
	transform: translate(0, -50%);
}
.contacts-us img {
	width: 150px;
	height: 150px;
	transition: background 0.3s;
	border-radius: 50%;
	z-index: 99;
}
.contacts-us:hover img {
	background: white;
}
.contacts-link {
	display: flex;
}

.contacts-link .link {
	padding-left: 80px;
	transform: translateX(-75px);
	padding-right: 20px;
}

.contacts-link .link > * {
	top: 50%;
	position: relative;
	transform: translateY(-50%);
	margin: 0;
}
.sponsors {
	right: 0;
	left: unset;
	margin-left: unset;
	margin-right: 20px;
}
.sponsors-link .link {
	padding-right: 80px;
	transform: translateX(75px);
	padding-left: 20px;
}


@media (max-width: 900px) {
	.contacts-us img {
		background: rgba(255, 255, 255, 0.6);
		width: 50px;
		height: 50px;
	}
	.sponsors {
		top: 60px;
	}
	.contacts-us div {
		opacity: 1;
	}
	.contacts-us div h3 {
		background: rgba(255, 255, 255, 0.6);
		opacity: 1;
		transform: translate(0, -50%);
	}
}
